{% extends 'blogify/_layout' %}
{% set tag = craft.tags().id(craft.app.request.getQueryParam('tag')).one() %}
{% if (not tag) %}
    {% redirect '/blog' %}
{% endif %}

{% block content %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Tag</span>
                    <h3>{{ tag }}</h3>
                    <p>Tag description here.. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                        error eius quo, officiis non maxime quos reiciendis perferendis doloremque maiores!</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'blogify/filters/_partials/postsList' with {posts:tag.posts.limit(9)} %}
{% endblock %}