{% extends 'blogify/_layout' %}

{% block content %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Category</span>
                    <h3>{{ category }}</h3>
                    <p>Category description here.. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                        error eius quo, officiis non maxime quos reiciendis perferendis doloremque maiores!</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'blogify/filters/_partials/postsList' with {posts:category.getPosts(9)} %}
{% endblock %}